# Python
Lib/
data/
*.pyc
__pycache__
*~

# Env
.env
myvenv/
venv/

# Database
db.sqlite3
*.exe

# Visual Studio
.vscode/
.history/
*.code-workspace

staticfiles/

# This can cause conflicts with custom settings files
Chainlink/settings.py

# Pycharm
.idea
