# Python
Lib/
data/
*.pyc
__pycache__
*~

# README
README.md

# Env
.env
myvenv/
venv/
Scripts/

# Database
db.sqlite3
*.exe

# Visual Studio
.vscode/
.history/
*.code-workspace

# Django generated stuff
staticfiles/

# This can cause conflicts with custom settings files
Chainlink/settings.py

# Pycharm
.idea/
