/* SEE reset.css FOR ALL OTHER CSS RULES */

/* /////////////// Media Queries /////////////// */

@media (min-width: 601px) and (max-width: 1000px) {
	#tabbed-buttons {
		text-align: center !important;
	}
	#tabbed-buttons button {
		width: 33.333% !important;	
		height: 45px !important;
		margin-top: 30px !important;
		margin-bottom: 30px !important;
		font-size: 18px !important;
	}
}

/* /////////////// Custom Fonts /////////////// */

@font-face {
	font-family: 'Cipher';
	src: url('../fonts/cipher.ttf') format("truetype");
	font-display: fallback;
}
	
@font-face {
    font-family: 'Matrix';
    src: url('../fonts/OCR-A.ttf') format("truetype");
	font-weight: 500;
	font-display: fallback;
}

@font-face {
	font-family: 'Retro';
	src: url('../fonts/retro.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Space';
	src: url('../fonts/unispace.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Eple';
	src: url('../fonts/OCR-B.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Audiowide';
	src: url('../fonts/audiowide.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Play';
	src: url('../fonts/play.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Electrolize';
	src: url('../fonts/electrolize.ttf') format("truetype");
	font-display: fallback;
}

/* latin */
@font-face {
  font-family: 'Aphex';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* /////////////// General Styling /////////////// */

body {
    background-image: url('../images/groove-minimal-lengthy.jpg'); 
    background-repeat: y-repeat;
	margin: 2% 4% 1% 4%;
}

main {
	background-color: #2C2E43;
	padding-left: 1cm;
	padding-right: 1cm;
	-padding-top: 0.3cm;
	-padding-bottom: 1cm;
}

p {
	color: #f5f5f5;
	background-color: #2C394B;
	margin: 2rem;
}

a:active {
	color: #800080;
}

h1 {
    font-family: Audiowide;
    font-weight: 100;
	background-color: #494B4D;
	text-align: center;
	color: whitesmoke;
	font-size: xx-large;
    padding: 10px;
}

h2 {
    font-family: Audiowide;
	font-weight: 100;
	font-size: x-large;
	color: whitesmoke;
	background-color: #334756;
	-margin: 6px 0px 6px 0px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
	font-weight: 600;
    display: block;
    text-align: center;
	padding: 3em 5% 3em 5%;
	color: rgb(208, 68, 35)
}

main, h1, section > p, section > h2, section > ul, .text-section > p, .media-section, #upper-navigation > ul {
	border-style: solid;
    border-width: 5px;
    border-color: transparent;
    border-radius: 12px;
}

section > p, .text-section > p, section > ul {
	display: block;
    font-family: Audiowide;
	background-color: #2C394B;
    margin: 2rem;
    color: whitesmoke;
    line-height: 160%;
    letter-spacing: .00em;
    -padding-bottom: 15px;
    font-size: 12px;
}

section > div {
    margin: 2rem;	
}

.text-section {
	max-width: 65%;
	margin-right: 15px;
}

.text-section > p {
	margin-left: 0px;
	margin-right: 0px
}

.text-section > p:first-child {
	margin-top: 0px;
}

.text-section > p:last-child {
	margin-bottom: 0px;
}

.media-section {
	background-color: #2C394B;
	border-width: 10px;
	margin-left: 6%;
}

.media-section > img {
	display: block;
	max-width: 100%;
    height: auto;
}

section > ul {
	padding-left: 2rem;
}

section {
	-margin: 6mm 0mm 6mm 0mm;
}

ol {
	list-style-type: number;
	list-style-position: inside;
}

ul > li {
	font-family: monospace;
	margin-top: 1mm;
	margin-bottom: 1mm;
	color: whitesmoke;
	line-height: 1.2em;
}

section > ul > li > a {
	text-decoration: none;
	color: whitesmoke;
	font-style: italic;
}

section > ul > li > a:hover {
	text-decoration: underline;
	background-color: #334756ec;
}

#tabbed-buttons {
	background-image: linear-gradient(180deg, #b4000000 0%, #2c2e43 0%);
    font-size: 0;
	text-align: right;
	-padding-right: calc(1cm - 10px);
	-padding-left: calc(1cm - 10px);
}

.tabbed-buttons {
	font-family: 'Courier New', Courier, monospace;
	font-weight:bolder;
	position: static;
	background-color: #334756;
	color: #f5f5f5;
	height: 30px;
	margin-top: 12px;
	margin-bottom: 12px;
	cursor: pointer;
	border-radius: 10px;
	-border: solid;
	border-color: #b0b0b057;
	-width: 16.6666666%;
	-border-left-width: 10px;
	-border-right-width: 10px;
	font-size: 12px;
	white-space: nowrap;
    word-break: keep-all;
}

.tabbed-buttons:hover {
	background-color: #2a3946;
	text-decoration: underline;
}

.tabbed-buttons:active {
	-color:rgb(208, 68, 35);
}

#upper-navigation ul {
	background-color: #acacacd5;
	margin-bottom: 30px;
}

#uppger-navigation ul li {
	margin-top: 0px;
	padding-top: 2mm;
}

#upper-navigation ul li:hover {
	background-color: #959595c7;
}

#upper-navigation ul li a {
	text-decoration: none;
	font-family: 'Courier New';
	font-size: 14px;
	font-weight: bolder;
	color: rgb(208, 68, 35);
}

#upper-navigation ul li a:hover{
	text-decoration: underline;
}

#copyright {
	display: block;
	text-align: center;
	color: #2c2e43;
}