
/* /////////////// Custom Fonts /////////////// */

@font-face {
	font-family: 'Cipher';
	src: url('../fonts/cipher.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
    font-family: 'Matrix';
    src: url('../fonts/OCR-A.ttf') format("truetype");
	font-weight: 500;
	font-display: fallback;
}

@font-face {
	font-family: 'Retro';
	src: url('../fonts/retro.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Space';
	src: url('../fonts/unispace.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Eple';
	src: url('../fonts/OCR-B.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Audiowide';
	src: url('../fonts/audiowide.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Play';
	src: url('../fonts/play.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Electrolize';
	src: url('../fonts/electrolize.ttf') format("truetype");
	font-display: fallback;
}

/* latin */
@font-face {
  font-family: 'Aphex';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.context-span-message {
    margin-right: 5px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(208, 68, 35);
    font-size: x-small;
}

/* Style settings for the oval nav buttons at the top of the document */

#tabbed-buttons {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

#uppger-navigation ul li {
	margin-top: 0px;
	padding-top: 2mm;
}


#copyright {
	display: block;
	text-align: center;
	color: #2c2e43;
	font-size: x-small;
}


.deactivated-page-list-element a {
	font-family: 'Courier New';
	font-size: 14px;
	font-weight: bolder;
	color: dimgrey;
	font-style: normal;
	text-decoration: unset;
	cursor: not-allowed;
}


/* ////////////////////////// FORM ELEMENTS ////////////////////////// */

#non-submit-fields {
	display: flex;
	flex-direction: column;

}

