/* SEE reset.css FOR ALL OTHER CSS RULES */

/* /////////////// Custom Vars /////////////// */
/*
:root {
	--x-large-for-courier: 1.6rem;
	--main-body-inner-content-padding-horizontal: 1rem;
	--main-body-inner-content-padding-vertical: 1rem;
	--chainlink-display-inner-content-padding-horizontal: 5%;
	--chainlink-display-inner-content-padding-vertical: 3px;
}*/

/* /////////////// Media Queries /////////////// */

@media (min-width: 601px) and (max-width: 1000px) {}

/* /////////////// Custom Fonts /////////////// */

@font-face {
	font-family: 'Cipher';
	src: url('../fonts/cipher.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
    font-family: 'Matrix';
    src: url('../fonts/OCR-A.ttf') format("truetype");
	font-weight: 500;
	font-display: fallback;
}

@font-face {
	font-family: 'Retro';
	src: url('../fonts/retro.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Space';
	src: url('../fonts/unispace.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Eple';
	src: url('../fonts/OCR-B.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Audiowide';
	src: url('../fonts/audiowide.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Play';
	src: url('../fonts/play.ttf') format("truetype");
	font-display: fallback;
}

@font-face {
	font-family: 'Electrolize';
	src: url('../fonts/electrolize.ttf') format("truetype");
	font-display: fallback;
}

/* latin */
@font-face {
  font-family: 'Aphex';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* /////////////// Media Queries /////////////// */

@media (min-width: 0px) and (max-width: 800px) {
	:root {
		--NUM-IMGS-PER-ROW: 3;
	}

	.img-gallery > img {
		-width: 33.3333333333% !important;
		width: 25% !important;
	}
}

@media (min-width: 801px) and (max-width: 1200px) {
	:root {
		--NUM-IMGS-PER-ROW: 4;
	}

	.img-gallery > img {
		width: 25% !important;
	}
}

@media (min-width: 1201px) {
	:root {
		--NUM-IMGS-PER-ROW: 5;
	}

	.img-gallery > img {
		width: 25% !important;
	}
}

/* /////////////// General Styling /////////////// */




/* ////////////////////////// INDEX PAGE STUFF BEGIN ////////////////////////// */


/* These are h2 elements that appear on the index page */
.section-header {

}


/* This is the h1 element that appears on the index page */
.index-title {
    text-align: center;
}

/* These are body paragraphs that appear on the index page. */
.index-paragraph {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-left: 5%;
	margin-right: 5%;
}


/* ////////////////////////// INDEX PAGE STUFF END ////////////////////////// */


a:active {
	color: #800080;
}

.text-section {
	max-width: 65%;
	margin-right: 15px;
}

.text-section > p {
	margin-left: 0px;
	margin-right: 0px
}

.text-section > p:first-child {
	margin-top: 0px;
}

.text-section > p:last-child {
	margin-bottom: 0px;
}

.media-section {
	background-color: #2C394B;
	border-width: 10px;
	-margin-left: 6%;
}

.media-section > img {
	display: block;
	max-width: 100%;
    height: auto;
}

.img-gallery {
	display: flex;
    flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.img-gallery > img {
	display: block;
	height: auto;
	object-fit: fill;
}

ol {
	-list-style-type: number;
	-list-style-position: inside;
}


div.combination {
	display: flex;
	justify-content: space-evenly;
    align-items: center;
	margin: 0 2rem 0 2rem;
}


#fence-context-buttons {
    text-align: right;
    display: none;
}
#collection-title-wrapper:hover #fence-context-buttons {
    display: block;
}

.context-span-message {
    margin-right: 5px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(208, 68, 35);
    font-size: x-small;
}
#collection-title {
    -display: block;
}
#doc-action-edit-title, #doc-action-delete-title {

}

/* Style settings for the oval nav buttons at the top of the document */

#tabbed-buttons {
	/*! padding-top: calc(var(--main-body-inner-content-padding-vertical) * 2); */
	/*! padding-bottom: var(--main-body-inner-content-padding-vertical); */
	/*! padding-left: var(--main-body-inner-content-padding-horizontal); */
	/*! padding-right: var(--main-body-inner-content-padding-horizontal); */
	/*! #border-radius: 12px; */
	/*! #background-image: linear-gradient(180deg, #b4000000 0%, #2c2e43 0%); */
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

#uppger-navigation ul li {
	margin-top: 0px;
	padding-top: 2mm;
}

#upper-navigation ul li a {
	-text-decoration: none;
	-font-family: 'Courier New';
	-font-size: 14px;
	-font-weight: bolder;
	-color: rgb(208, 68, 35);
}

#copyright {
	display: block;
	text-align: center;
	color: #2c2e43;
}


.deactivated-page-list-element a {
	font-family: 'Courier New';
	font-size: 14px;
	font-weight: bolder;
	color: dimgrey;
	font-style: normal;
	text-decoration: unset;
	cursor: not-allowed;
}

/* /////////////// Specific IDs /////////////// */

#add-page-btn {
	padding-left: 25px;
	padding-right: 25px;
}


/* ////////////////////////// FORM ELEMENTS ////////////////////////// */

#non-submit-fields {
	display: flex;
	flex-direction: column;

}

/*
.form-label {
    float: left;
}

.form-field {
    float: right;
}

.form-group {
	padding: 7px 7px 7px 7px;
	display: block;
	margin-bottom: 15px;
}*/