#tabbed-buttons {
	margin-top: 12px;
	margin-bottom: 12px;
}

.tabbed-buttons {
	font-family: 'Courier New', Courier, monospace;
	font-weight:bolder;
	position: static;
	background-color: #334756;
	color: #f5f5f5;
	height: 30px;
    margin-top: 1px;
	cursor: pointer;
	border-radius: 10px;
	-border: solid;
	border-color: #b0b0b057;
	-width: 16.6666666%;
	font-size: 12px;
	white-space: nowrap;
    word-break: keep-all;
}

#add-buttons {
	text-align: center;
}

.add-buttons {
	-font-family: 'Courier New', Courier, monospace;
	font-family: Audiowide;
	position: static;
	background-color: #334756;
	color: #f5f5f5;
	height: 30px;
	cursor: pointer;
	border-radius: 10px;
	border-color: #b0b0b057;
	width: 12%;
	font-size: 12px;
	white-space: nowrap;
    word-break: keep-all;
    margin: 35px 1% 10px 1%;
}

.add-buttons:hover {
	background-color: #2a3946;
	text-decoration: underline;
}

h4 {
    color: whitesmoke;
    font-size: large;
}

.inline-url {
    font-size: small;
    color: cadetblue;
}

.inline-url:hover {
    font-size: small;
    color: purple;
}

.header-url {
    margin-left: 10px;
}

#chainlink-manifest, #keybindings-legend {
    display: inline-block;
    vertical-align:top;
    background-color: #2C394B;
    list-style-type: none;

    border-style: solid;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-color: transparent;
    border-radius: 12px;
}

#chainlink-manifest > li {
    color: whitesmoke;
    font-family: monospace;
    margin-top: 1px;
    margin-bototm: 1px;
}

#keybindings-legend > li {
    color: whitesmoke;
    font-family: monospace;
    margin-top: 3px;
    margin-bototm: 3px;
}

#chainlink-manifest > li > a, #keybindings-legend > li > a {
    text-decoration: none;
    font-size: medium;
}

#chainlink-manifest > h2, #keybindings-legend > h2 {
    color: whitesmoke;
    background-color: #2C394B;
    font-family: Audiowide;
    background-color:
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 0px;
}

input {
    width: 35%;
    color: #2e2a43FF;
    border-width: 5px;
    border-radius: 12px;
    font-size: large;
    border-style: solid;
    border-color: transparent;
}
