/* SEE reset.css FOR ALL OTHER CSS RULES */

/* /////////////// General Styling /////////////// */

p {
	color: #f5f5f5;
	background-color: #2C394B;
	margin: 2rem;
}

div.media-section {
	margin-top: 12mm;
	margin-bottom: 12mm;
	margin-left: 12mm;
	margin-right: 12mm;
}

#vapor-gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recantation {
    font-family: Retro;
    font-size: small;
    text-align: center;
}

.authored-by {
    -display: block;
    -text-align: right;
    -padding-top: 10px;
}

img, video {
	height: 15em;
	width: 20em;
	max-height: 300px;
	max-width: 300px;
	border: 1px solid #f1f1f1;
}

div.recantation {
	border-style: double;
	border-width: 2px 2px 2px 2px;
	border-color: #334756;
	border-radius: 9px;
	margin: 10px 10px 10px 10px;
}

.gallery-image {
	border-style: solid;
	border-color: whitesmoke;
}

.expand-me {
	-text-decoration: none;
	display: block;
	font-family: 'Courier New';
	color: #4271c2;
	text-decoration: underline;
	text-align: right;
    margin-right: 2rem;
	margin-bottom: 1rem;
}