/* /////////////// Variables /////////////// */
:root {
	--NUM-IMGS-PER-ROW: 1;
}

/* /////////////// General Styling /////////////// */
p {
	color: #f5f5f5;
	background-color: #2C394B;
	margin: 2rem;
}

.media-section {
	margin: 2rem;
	background-color: #2C394B;
}

.recantation {
    font-family: Audiowide;
	font-size: 12px;
    text-align: center;
}

img, video{
	width: 25%;
    height: auto;
}

div.recantation {
	border-style: double;
	border-width: 2px 2px 2px 2px;
	border-color: #334756;
	border-radius: 9px;
	margin: 10px 10px 10px 10px;
}

.expand-me {
	display: block;
	font-family: 'Courier New';
	color: #4271c2;
	text-decoration: underline;
	text-align: right;
}