/* patchwork is a theme. The user can select this theme if they wish for a front-end that replicates the feel of old static websites */

/* ////////////////////////// GLOBAL CONSTANTS ////////////////////////// */

:root {
    --form-text-color: #ffffff;
    --form-field-background-color: #3e435db8;
}

/* ////////////////////////// PATCHWORK BACKGROUND ////////////////////////// */

body {
    -background-image: url('../images/groove-minimal-lengthy.jpg');
    background-repeat: y-repeat;
}

/* ////////////////////////// INDEX PAGE STUFF BEGIN ////////////////////////// */

/*  */
/*#collection-title {
	font-family: Audiowide;
	font-weight: 100;
	background-color: #334756;
	text-align: center;
	color: whitesmoke;
	font-size: xx-large;
	padding: 10px;
}*/

/* This is the h1 element that appears on the index page */
.index-title {
	font-family: Audiowide;
	font-weight: 100;
}


/* chainlink header styling */
/*.chainlink-wrapper h2 {
	font-family: Audiowide;
	font-weight: 100;
	font-size: x-large;
	color: whitesmoke;
	display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #334756;
    padding: 7px;
    border-radius: 12px;
}*/

/* These are h2 elements that appear on the index page */
.section-header {
    -font-family: Audiowide;
}

.index-paragraph {
	color: #f5f5f5;
	background-color: #2c394b00;
}

/* ////////////////////////// INDEX PAGE STUFF END ////////////////////////// */


/* These are rules for backgrounds that appear behind sections of an collection. */

#header-display {
}


.no-elements {
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: small;
    color: rgb(208, 68, 35);
    border-style: dashed;
    border-width: 1px;
    padding: 5px;
}


/*
#add-cl-btn {
    background-color: rgb(208 68 35 / 46%);
}
#add-code-btn {
    background-color: #8ecd9563;
}
#add-p-btn {
    background-color: #19354b;
}
#add-h3-btn {
    background-color: #6633679c;
}
#add-br-btn{
    background-color: #63839b;
}*/

/* Element Form Creation */
#content-creation-form, #chainlink-creation-form, #chainlink-edit-form, #content-edit-form, #footer-creation-form, #header-creation-form, #content-delete-form {
    /*! background-color: #00000061; */
    /*! border-radius: 3px; */
    /*! border-width: 4px; */
    /*! border-color: #343537; */
    /*! border-style: groove; */
    /*! height: 12rem; */
    /*! padding-top: var(--main-body-inner-content-padding-vertical); */
    /*! padding-bottom: var(--main-body-inner-content-padding-vertical); */
    /*! padding-left: var(--main-body-inner-content-padding-horizontal); */
    /*! padding-right: var(--main-body-inner-content-padding-horizontal); */
}
#content-creation-form > form {

}

#input {
    display: block;
    width: 35%;
    color: #2e2a43FF;
    border-width: 5px;
    border-radius: 12px;
    font-size: large;
    border-style: solid;
    border-color: transparent;
}

#element-creation-select {
    display: block;
    margin: 2px 0px 2px 0px;
    width: 35%;
    color: #2e2a43FF;
    border-width: 5px;
    border-radius: 12px;
    font-size: large;
    border-style: solid;
    border-color: transparent;
}

#element-creation-text-align-right {
    text-align: right;
}

/*#element-creation-submit {
    display: inline-block;
    font-family: Audiowide;
    position: static;
    background-color: #2c3943;
    color: #f5f5f5;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    border-color: #b0b0b057;
    -width: 20%;
    min-width: 125px;
    font-size: 12px;
    white-space: nowrap;
    word-break: keep-all;
}*/

#element-creation-submit:hover {
    background-color: #2c39438f;
}

/* config display section */


#element-manifest > li {
    color: whitesmoke;
    font-family: monospace;
    margin-top: 1px;
    margin-bottom: 1px;
}
#keybindings-legend > li {
    color: whitesmoke;
    font-family: monospace;
    margin-top: 3px;
    margin-bottom: 3px;
}
#element-manifest > li > a {
    text-decoration: none;
    font-size: medium;
}
#element-manifest > li > a:hover {
    text-decoration: underline;
    color: #959595;
}
#options-settings > li > button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: rgb(208, 68, 35);
    text-decoration: underline;
    cursor: pointer;
}

/* ascii art decoration section */
#decoration-display {
    -max-width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    padding-top: var(--main-body-inner-content-padding-vertical);
	padding-bottom: var(--main-body-inner-content-padding-vertical);
	padding-right: var(--main-body-inner-content-padding-horizontal);
	padding-left: var(--main-body-inner-content-padding-horizontal);
}

#decoration-display > pre {
    display: inline-block;
    color: rgb(208, 68, 35);
    -border-style: double;
    -border-width: 3px;
}

/*.chainlink:first-child .chainlink-wrapper:first-child {
    padding-top: 0px;
}*/

/*.chainlink:last-child .chainlink-wrapper:last-child, .chainlink:last-child .content-wrapper:last-child {
    margin-bottom: 0px;
}*/

/*.chainlink-wrapper {}*/

/* popup form creation */


/* recurrent elements */
/*.header-url {
    margin-right: 10px;
}*/
.inline-url {
    font-size: small;
    color: cadetblue;
}
.inline-url:hover {
    font-size: small;
    color: purple;
}
.element-date {
    font-size: small;
    color: #e35f5f;
}
.element-inner-text {
	margin-right: 10px;
}
.element-order {
    font-size: x-small;
    color: #888888;
    margin-right: 4px;
}


/* ////////////////////////// FORM ELEMENTS ////////////////////////// */

.form-label {
    /*! color: var(--form-text-color); */
}

.form-group {
    /*! background-color: var(--form-field-background-color); */
}