div#the-form {
}

form {
	display: grid;
    justify-items: stretch;
    justify-content: start;
	align-content: space-evenly;   
}

label ~ input {
	font-family: monospace;
	color:hsl(240, 100%, 50%);
}