// Set your brand colors
$metallic-blue: #334756;
$navy-blue: #19354b;
$gray-may: #a8a8a8;
$foggy-blue: #63839b;

// Override global Sass variables from the /utilities folder
@use "bulma/sass/utilities" with (
  $family-primary: '"Nunito", sans-serif',
  $primary: $gray-may,
  $link: $metallic-blue,
  $control-border-width: 3px
);

// Override Sass variables from the /form folder
@use "bulma/sass/form" with (
  $input-shadow: none
);

@use "bulma/sass/elements/button" with (
  $button-family: "Courier New, Courier, monospace",
);

// Import the components you need
@forward "bulma/sass/base";
@forward "bulma/sass/components/card";
@forward "bulma/sass/components/modal";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/notification";
@forward "bulma/sass/elements/progress";
@forward "bulma/sass/elements/tag";
@forward "bulma/sass/layout/footer";

// Import the themes so that all CSS variables have a value
@forward "bulma/sass/themes";

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

.button.is-warning {
  font-style: italic;
  background-color: $foggy-blue;
  color: white;
}
