Hi there instagram user. You may be wondering how I know that you click this link from instagram? That’s thanks to a web concept called <a>query strings</a>.

Why did I call this website www.chainlinkfinary.com? It sounded cool. Why not use something like georgedubinin.com

One of the hardest things about being a programmer is explaining what I do to not-technical people who ask me about my job. This sounds like a joke but it’s actually somewhat technically true on a deep level and speaks to the fact that programmers tend to be relatively weak in communication skills relative to to other professional job titles. This phenomena speaks further (reveals) insights into strangely specific ways that the human brain works and the patterns that we can anecdotally observe just by speaking with people of wide ranging interests.

Table that automatically adds the last YouTube video I’ve watched

The internet is like a digital mall. There’s a need for large stores of information that everyone knows about. i.e. target or Costco which are like instagram or Facebook. People also like boutique shops though and that’s why I’ve resolved to create my own website rather than relying on LinkedIn (which is another store). This is a boutique: https://www.comedianjoelist.com/

I like when an author presents an analogy that seems completely unrelated at the beginning and then ties the main point to that analogy at the end.