{% extends 'Patchwork/base.html' %}
{% load static %}
{% block login_status %}
    {% if user.is_authenticated %}
        <i>Logged In</i>
        <form action="{% url 'logout' %}" method="post">{% csrf_token %}<input type="submit" value="Logout"></form>
        <form action="{% url 'generate' %}" method="post">{% csrf_token %}<input type="submit" value="Generate New Collection"></form>
    {% else %}
        <i>Logged Out</i>
        <form action="/login.html" method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Login">
        </form>
    {% endif %}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/patchwork.css' %}">
<link rel="stylesheet" href="{% static 'css/patchwork.css' %}">
<nav id="tabbed-buttons">
{% for doc in docs %}
	<button type="button" class="tabbed-buttons" onclick="window.location.href ='doc{{ doc.url }}.html'">{{ doc.title }}</button>
{% endfor %}
	<button type="button" id="add-page-btn" class="tabbed-buttons">+</button>
</nav>
<div id="doc-title-wrapper">
	<h1 id="doc-title">About This Website</h1>
</div>
<div id="chainlink-display">
	<section class="chainlink">
		<div class="chainlink-wrapper">
			<h2>
				<span class="chainlink-inner-text">What Is Chainlink Finary</span>
			</h2>
        </div>
        <div class="content-wrapper">
            <p class="inner-content">This is text that describes the website.</p>
        </div>
	</section>
</div>

{% endblock %}