{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chainlink Finary</title>

        <!-- Document Metadata -->
        <meta name="Patchwork Base" content="Patchwork">
        <meta charset="utf-8">
    
        <!-- Make the page responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Static CSS -->
        <link rel="icon" type="image/x-icon" href="{% static 'images/lock_icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

        <!-- Bulma CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

        <!-- Scripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="module" src="{{ REACT_STATIC_ROOT }}/patchwork-function.js"></script>
        <script>
            var mediaCounter = 0;
            const imgFolder = "{% static 'images/' %}";
        </script>
    {% if not user.is_authenticated %}
        <!-- If the user isn't authenticated then we want to remove the edit buttons-->
        <style>
            .cont-edit-btn, .cont-del-btn, .cl-del-btn, .cl-edit-btn {
                display: none;
            }
        </style>
    {% endif %}
        {% block header %}
        {% endblock %}

        {% csrf_token %}
    </head>
    <body>
        <header>
            <h1>Chainlink Finary</h1>
            <h6 class="under-construction">the patchwork portal is currently under construction</h6>
            <img class="under-construction" src="{% static 'images/under_construction.gif' %}" onclick="window.location.replace('http://textfiles.com/underconstruction/')"/>
            <nav id="upper-navigation">
                <div id="navbar-pages" class="menu cf-navbar">
                    <h2 class="menu-label">Browse the patchwork portal</h2>
                    {% block pages %}
                        {% if user.is_authenticated %}
                            <ul class="menu-list">
                                <li class="activated-page-list-element"><a href="{% url 'index' %}">Landing Page</a></li>
                                <li class="activated-page-list-element"><a href="{% url 'profile' %}">My Profile</a></li>
                                <li class="activated-page-list-element"><a href="{% url 'about' %}">About</a></li>
                                <li class="activated-page-list-element"><a href="{% url 'automations' %}">Site Automations</a></li>
                            </ul>
                        {% else %}
                            <ul class="menu-list">
                                <li class="activated-page-list-element"><a href="{% url 'index' %}">Landing Page</a></li>
                                <li class="deactivated-page-list-element"><a>My Profile<span class="help-text">(log in to view your profile)</span></a></li>
                                <li class="activated-page-list-element"><a href="{% url 'about' %}">About</a></li>
                                <li class="activated-page-list-element"><a href="{% url 'automations' %}">Site Automations</a></li>
                            </ul>
                        {% endif %}
                    {% endblock %}
                </div>
                <div id="navbar-login" class="cf-navbar">
                    <h2>Login/Logout</h2>
                    <ul>
                        {% block login %}
                            {% if user.is_authenticated %}
                                <li class="deactivated-action-list-element">
                                    <form>
                                        <input type="submit" value="Log In" disabled>
                                    {% if request.GET.login_successful == "true" %}
                                        <span style="color: green; font-style: italic; font-size: small; font-family: 'Courier New', Courier, monospace; font-weight: bold">login success</span>
                                    {% endif %}
                                        <span class="help-text">(you are already logged in)</span>
                                    </form></li>
                                <li class="activated-action-list-element"><form action="{% url 'logout' %}" method="post">{% csrf_token %}<input type="submit" value="Log Out"></form></li>
                            {% else %}
                                <li class="activated-action-list-element">
                                    <form action="/login.html" method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Log In">
                                        <label for="username">Username:</label>
                                        <input type="text" id="username" name="username" required>
                                        <label for="password">Password:</label>
                                        <input type="password" id="password" name="password" required>
                                        {% if request.GET.logout_successful == "true" %}
                                            <span style="color: green; font-style: italic; font-size: small; font-family: 'Courier New', Courier, monospace; font-weight: bold">logout success</span>
                                        {% endif %}
                                        {% if request.GET.login_successful == "false" %}
                                            <span style="color: red; font-style: italic; font-size: small; font-family: 'Courier New', Courier, monospace; font-weight: bold">login failure</span>
                                        {% endif %}
                                        <span class="help-text">(enter credentials to log in)</span>
                                    </form>
                                </li>
                                <li class="deactivated-action-list-element"><form><input type="submit" value="Log Out" disabled><span class="help-text">(you are already logged out)</span></form></li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
                {% if view == "generic" %}
                    <div id="navbar-actions" class="cf-navbar">
                    <h2>Interact with the patchwork portal</h2>
                    <ul>
                        {% block actions %}
                            {% if user.is_authenticated %}
                                <li class="activated-action-list-element"><form id="add-col-form" action="{% url 'generate' %}" method="post">{% csrf_token %}<input id="add-col-btn" type="submit" value="Generate New Collection"></form></li>
                            {% else %}
                                <li class="deactivated-action-list-element"><form><input type="submit" value="Generate New Collection" disabled><span class="help-text">(log in to create a collection)</span></form></li>
                            {% endif %}
                            <li class="deactivated-action-list-element"><form><input type="submit" value="Convert to PDF" disabled><span class="help-text">(display this Collection as a PDF - feature not yet implemented)</span></form></li>
                        {% endblock %}
                    </ul>
                </div>
                    <div id="navbar-edit" class="cf-navbar">
                    <h2>Edit an existing collection</h2>
                    <ul>
                        {% if user.is_authenticated %}
                            <li class="activated-edit-list-element"><form><input type="submit" value="Edit Permissions" /></form></li>
                            <li class="activated-edit-list-element"><form><input type="submit" value="Change Theme" /></form></li>
                            <li class="activated-edit-list-element"><form><input type="submit" value="Delete Collection" /></form></li>
                        {% else %}
                            <li class="deactivated-edit-list-element"><form><input type="submit" value="Edit Permissions" disabled><span class="help-text">(you must be logged in and have permission to edit this Collection)</span></form></li>
                            <li class="deactivated-edit-list-element"><form><input type="submit" value="Change Theme" disabled><span class="help-text">(you must be logged in and have permission to edit this Collection)</span></form></li>
                            <li class="deactivated-edit-list-element"><form><input type="submit" value="Delete Collection" disabled><span class="help-text">(you must be logged in and have permission to edit this Collection)</span></form></li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </nav>
        </header>
            <main>
                {% block tabbed_buttons %}
                    <nav id="tabbed-buttons">
                        {% for collection in collections %}
                            {% if user.is_authenticated %}
                                {% if collection.public == True %}
                                    {% if collection.title %}
                                        <a class="tabbed-buttons" href="{% url 'collection' url=collection.url %}">{{ collection.title.text }}</a>
                                    {% else %}
                                        <a class="tabbed-buttons" href="{% url 'collection' url=collection.url %}">untitled&lt{{ collection.url|slice:"0:9" }}&gt</a>
                                    {% endif %}
                                {% else %}
                                    {% if collection.title %}
                                        <a class="tabbed-buttons private-collection" href="{% url 'collection' url=collection.url %}">{{ collection.title.text }}</a>
                                    {% else %}
                                        <a class="tabbed-buttons private-collection" href="{% url 'collection' url=collection.url %}">untitled&lt{{ collection.url|slice:"0:9" }}&gt</a>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if collection.title %}
                                    <a class="tabbed-buttons" href="{% url 'collection' url=collection.url %}">{{ collection.title.text }}</a>
                                {% else %}
                                    <a class="tabbed-buttons" href="{% url 'collection' url=collection.url %}">untitled&lt{{ collection.url|slice:"0:9" }}&gt</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </nav>
                {% endblock %}
                {% block content %}
                {% endblock %}
            </main>
        <footer>
            <div id="responseOutput">&nbsp;</div>
            <div id="copyright">gdubinin@chainlinkfinary.com</div>
        </footer>
    </body>
</html>
