{% extends 'Patchwork/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/beat-the-clock.css' %}">
<div id="the-form">
    <H2>Beat The Clock</H2>
    <p class="recantation">
        "R-R-R-R-R-R-R-R-Right about now..." the deep dish surround-sounditorium rumbled with a low-thud membrane shaking 130 bpm rhythm & shred-edited human
        language. G closed his eyes and pushed his way thru the tightly packed dance area of his penthouse barracks, out safely to the terrace.
        <br>
        His party would be reviewed tomorrow as one of the top 5 ways to have spent the last 15 minutes of the century. He had personally spent every free
        moment of the past month arrangin & preparing for it. Admittedly, that only added up to about 10 minutes, but luckily it was easier to do more in less
        time these days. Even 10 free minutes had been hard to come by. That whole theory about the future having too much free time due t othe ease of technology
        had long ago stopped being funny. Instead of getting the same workload done more quickly and spending the rest of the time in relaxation & recreation, the
        work had just increased. There was less free time than ever. To beat the clock had become the mission on any given day. His ew Century gift to himself would
        be a Cyber-Stuff/Unstuff Compression Chip which, when installed, would make those few free of the future seem like hours.
        <br>
        G stepped out onto the terrace & looked up at the night sky as the continually shifting & fast-moving clouds were being written upon by bright green
        advertising lasers. Animated figures where dancing around large product images. It seemed like each cloud in the sky had its own dancing family. The
        cloud figures would stretch & shrink & sometimes even split, their large billowy shapes being pierced by the hundreds of passenger jets taking off in
        the distance.
        <br>
        He shifted his attention to the reality unfolding on the streets far below. The huge crowds were buzzing like colored video static, chanting millenium
        endorsement slogans, with color arc-spots scanning them from the roofs of surrounding buildings. They'd been gathering all days as the giant clock
        ticked down the century's last hours. With each passing minute the anticipation was building.
        <br>
        G looked back inside at the data projections tracing themselves out continually across every wall. He looked at the minute & second countdowns to the
        new millenium and decided it was time for the party's V-reality programming shift. Reaching into his pocket, he pressed the remote control and the
        apartment's hidden mainframe began it's sequenced set of cyber-cast commandsto the entertainment chips installed in his guests. Those who had paid for
        the upgrade to the new protocols would experience the extra enhancements of this state of the art system, while the rest would have to do without the
        advertised "20% additional sensory information." G and his friends were spending so much of their lives under the influence of V-realities, they were
        no longer sure which reality was actually reality.
        <br>
        "I'll take your brain to another dimension..." the sound system promised as G walked back into the party and the walls began to shift & undulate to the
        music. One V-reality was being elegantly replaced by another. The visual tone of the room was restructuring itself, slowly losing its cavernous industrial
        space identity. It was replaced as virtual wall to wall carpet, coffee tables, sofas, decorative art paintings, and a home entertainment center began to
        appear.
        <br>
        Guests instinctively began to collect around the imaginary colonial wood styled TV set that showed images of an imaginary live broadcast from an imaginary
        New Years celebration hosted by an imaginary Dick Clark. Virtual champagne was being poured into imaginary snap-together plastic champagne glasses. The new
        reality continued to unfold as imaginary food items were appearing on an imaginary dining room table. Virtual artichoke dip appeared in a bowl fashioned from
        a hollowed loaf of virtual rye bread. G was pleased that he'd chosen this programming combination from all possible realities. Even tho' it was bizarre and
        surreal, there was a comforting sense of sentimentality that he found in the resulting arrangement of these surroundings. In reality, while simultaneously
        being programmed into believing themselves to be standing around a punch bowl having light chit-chat and finger food, the crowd was actually still dancing
        furiously to the 145 bpm "alpha-beta-psychedeli-funkin."
        <br>
        Unkown to everyone there, including their host, the technology involved in creating this illusion and the thousands of other various illuisisions appearing in
        similar parties all over the world was about to suffer a major melt-down. The computer clock/calendar threat had been on the news but the population had been far
        too occupied in just getting thru the 60 seconds that made up each minute to comprehend it. Life was moving so fast during the final months of the century that
        more & more people had been reducing the size of their input ports, simply unable to find the time to process all of the incoming data. G had been starting to
        feel the same way. Why pay for input & storage that there will never be time to access? Life in the present had become far too overwhelemed by the enormous events 
        advertised in the living of each new moment. The past & future could no longer compete.
        <br>
        Back in the comfort of the virtual New Years party, countdown of the final minute had begun. Couples were embracing drunks were splashing themselves with champagne,
        and all were watching the TV in one final act of community before the new millenium. "30-29-28-27-26..." they chanted in celebratory unison. When it got to the last
        10 seconds G joined in loudly with a sense of pride in the experience he'd wrapped his guests in. "5-4-3-2-1-ZERO!" The place erupted, releasing years of pent-up pre-millenium
        anticipation as a deafening roar rose up from the crowded streets. In the shimmering computer-generated illusion of the party, the champagne flowed and people imagined
        themselves kissing each other.
        The first wave of systematic disruptions came during these New Years kisses. A mainframe power supply glitch caused it to begin cycling rapidly thru all of its stored
        V-reality demos. During the space of that New Millenium kiss, his guests were subject to a non-stop onslaught of imagery & sound as the room shock, changing itself at a
        blinding pace, going instantly from schoolhouse to grocery storeto linar village to pizzaria to bus station. In between these worlds, reality would flash back to the dance
        floor as the sounditorium thundered at 170 bpm.
        <br>
        G was dizzy & disoriented as he struggled to find his bearings in his own home. He grabbed the corner of the virtual walls and held on for dear life as they continued
        to change underneath him. Then it happened... the mainframe locked briefly onto one program and for a moment the chaos ended. Everyone had the same vision. A beautiful
        woman was floating in the middle of the room singing softly, "...emergency, how beautiful to be...."
        <br>
        As instantly as she appeared, she disappeared, replaced by the electro juggernaut. As the room blinked from Egyptian desert to snow-capped mountain to Southern plantation
        to Dracula's castle the guests were grabbing their heads in pain. G made his move and headed across the dancefloor toward the mainframe. As he pushed his way thru the
        sweating crowd, he looked out past the terrace to the night sky. the advertising lasers had gone haywire, printing random, unrelated slogans all over the racing clouds.
        "NOW EVEN BETTER!," "AT LAST, REAL RELIEF!," "BASED ON TRUE EVENTS!" The sky flickered & flashed with the bright green glow, which illuminated the countless parachutes
        that littered the sky in every direction. Passengers were jumping to safety from falling jets.
        <br>
        "BEAT THE CLOCK, YOU GOTTA BEAT THE CLOCK" the sound system screamed with the exhausted crowd locked into an inescapable rhythm. There was no other choice, no other
        solution. "Beat the Clock" again became a mission. G picked up the dense metal hammer he kept by the door and slowly approached the mainframe, hoping its self-defense
        software had been corrupted by the melt-down. He crept up behind it as the V-reality demo's continued to cycle their way rapidly from barnyard, to sporting goods store,
        to cathedral, to Neanderthal cave. Raising the hammer above his head, and summoning all of his strength, G brough it down with a thunder. ~~ DUANE SHERWOOD ©️1999
    </p>
</div>
{% endblock %}