{% extends 'Patchwork/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/patchwork.css' %}">
<script type="module" src="{% static 'scripts/collectionStateManager.js' %}"></script>
<script src="{{ REACT_STATIC_ROOT }}/chainlink.js"></script>
<!--<script type="module">

	import { parseKeyUp, parseKeyDown, addButtonsDocView, addButtonsDocEmptyView, deleteDoc, renameDoc, editChainlink, editContent, instChainlinkEditButtons, instContentEditButtons, instFenceEditButtons, deleteFenceEditButtons, deleteChainlinkEditButtons, deleteContentEditButtons, addButtonsChainlinkView, createFence } from "{% static 'scripts/collectionStateManager.js' %}";

	document.addEventListener("DOMContentLoaded", function() {
		// Globals
		window.ctrl = false;			// This flag indicates whether the "ctrl" key is being held down
		window.in = "chainlink";		// This setting is used for parsing keystrokes

		// Add the event listeners above for keystrokes
		window.addEventListener("keyup", parseKeyUp);
		window.addEventListener("keydown", parseKeyDown);
		document.getElementById("add-page-btn").addEventListener("click", createFence);

		// Add CRUD buttons for page content
		instChainlinkEditButtons();
		instContentEditButtons();

		addButtonsChainlinkView();
	});
</script>-->
<nav id="tabbed-buttons">
{% for doc in docs %}
	<button type="button" class="tabbed-buttons" onclick="window.location.href ='doc{{ doc.url }}.html'">{{ doc.title }}</button>
{% endfor %}
	<button type="button" id="add-page-btn" class="tabbed-buttons">+</button>
</nav>
<div id="config-display">
	<ul id="keybindings-legend">
		<h2>Keybindings Legend</h2>
		<li>j - scroll down</li>
		<li>k - scroll up</li>
		<li>p - create text element</li>
		<li>h - create header element</li>
		<li>c - create code block</li>
		<li>b - insert linebreak</li>
	</ul>
	<ul id="options-settings">
	<h2>Options & Settings</h2>
		<li><button id="doc-action-copy-link">Copy link to this doc</button></li>
		<li><button id="doc-action-change-theme">Change theme</button></li>
		<li><button id="doc-action-find-references">Find references</button></li>
	</ul>
</div>
<div id="chainlink-display" template="chainlink">
	<section class="chainlink">
		<div id="{{ target.url }}" class="chainlink-wrapper">
			<h2>
				{{ target.title|linebreaksbr }}
				<a class="inline-url header-url" href="chainlink{{ target.url }}.html">>>>{{ target.url|slice:"0:9" }}</a>
			</h2>
		</div>
	{% for content in contents %}
		{% if content.tag == "P" %}
		<div id="{{ content.url }}-{{ content.order }}" class="content-wrapper">
			<p class="inner-content">{{ content.content }}</p>

		</div>
		{% elif content.tag == 'CODE' %}
		<div id="{{ content.url }}-{{ content.order }}" class="content-wrapper">
			<code class="inner-content">{{ content.content }}</code>

		</div>
		{% elif content.tag == 'H3' %}
		<div id="{{ content.url }}-{{ content.order }}" class="content-wrapper">
			<h3 class="inner-content">
				{{ content.content }}</h3>
		</div>
		{% elif content.tag == 'BR' %}
		<div id="{{ content.url }}-{{ content.order }}" class="content-wrapper">
			<span class="inner-content br"><i>&#60;!-- linebreak insert --&#62;</i></span>
		</div>
        {% elif content.tag == 'delimiter' %}
		</section>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}
