{% extends 'Patchwork/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/generic.css' %}">
<link rel="stylesheet" href="{% static 'css/patchwork.css' %}">
<script src="{{ REACT_STATIC_ROOT }}/generic.js"></script>
<!--<script type="module" src="{% static 'scripts/chainlink-utilities.js' %}"></script>
<script type="module">

	import { parseKeyUp, parseKeyDown, addButtonsDocView, addButtonsDocEmptyView, deleteDoc, renameDoc, editChainlink, editContent, instChainlinkEditButtons, instContentEditButtons, instFenceEditButtons, deleteFenceEditButtons, deleteChainlinkEditButtons, deleteContentEditButtons, createFence } from "{% static 'scripts/chainlink-utilities.js' %}";

	// await full DOM load before adding DB items
	document.addEventListener("DOMContentLoaded", function() {

		// Globals
		window.ctrl = false;			// This flag indicates whether the "ctrl" key is being held down

        // Handle empty document case where only chainlink add button should be present
		if (document.getElementById("chainlink-display").querySelector(":scope > section") == null) {
			window.in = "doc-empty";	// signal to key parser to disable all hotkeys except "c"
			addButtonsDocEmptyView();
		} else {
			window.in = "doc";
			addButtonsDocView();
		}

		// Add the event listeners above for keystrokes
		window.addEventListener("keyup", parseKeyUp);
		window.addEventListener("keydown", parseKeyDown);
		document.getElementById("add-page-btn").addEventListener("click", createFence);

		// Add CRUD buttons for page content
		instFenceEditButtons();
		instChainlinkEditButtons();
		instContentEditButtons();

		//deleteFenceEditButtons();
		//deleteChainlinkEditButtons();
		//deleteContentEditButtons();

	});
</script>-->
<nav id="tabbed-buttons">
{% for doc in docs %}
	<button type="button" class="tabbed-buttons" onclick="window.location.href ='doc{{ doc.url }}.html'">{{ doc.title }}</button>
{% endfor %}
	<button type="button" id="add-page-btn" class="tabbed-buttons">+</button>
</nav>
<div id="doc-title-wrapper">
	<h1 id="doc-title">{{ document.title|linebreaksbr }}</h1>
</div>
<div id="config-display">
<ul id="keybindings-legend">
	<h2>Keybindings Legend</h2>
	<li>j - scroll down</li>
	<li>k - scroll up</li>
	<li>n - create chainlink</li>
	<li>p - create text element</li>
	<li>h - create header element</li>
	<li>c - create code block</li>
	<li>b - insert linebreak</li>
</ul>
<ul id="chainlink-manifest">
	<h2>Chainlink Manifest</h2>
	{% if chainlinks %}
	{% for chainlink in chainlinks %}
	<li><a class="inline-url" href="#{{ chainlink.url }}">>>>{{ chainlink.title }}</a></li>
	{% endfor %}
	{% else %}
	<li><i>&#60;list empty&#62;</i></li>
	{% endif %}
</ul>
<ul id="options-settings">
	<h2>Options & Settings</h2>
	<li><button id="doc-action-copy-link">Copy link to this doc</button></li>
	<li><button id="doc-action-change-theme">Change theme</button></li>
	<li><button id="doc-action-find-references">Find references</button></li>
</ul>
</div>
<div id="decoration-display">
<pre>
      ___     
     /\  \    
    /::\  \   
   /:/\:\  \  
  /:/  \:\  \ 
 /:/__/ \:\__\
 \:\  \  \/__/
  \:\  \      
   \:\  \     
    \:\__\    
     \/__/    
</pre>
<pre>
      ___     
     /\  \    
    /::\  \   
   /:/\:\  \  
  /::\~\:\  \ 
 /:/\:\ \:\__\
 \/__\:\/:/  /
      \::/  / 
      /:/  /  
     /:/  /   
     \/__/    
</pre>
<pre>
      ___     
     /\  \    
    /::\  \   
   /:/\:\  \  
  /::\~\:\  \ 
 /:/\:\ \:\__\
 \/_|::\/:/  /
    |:|::/  / 
    |:|\/__/  
    |:|  |    
     \|__|    
</pre>
<pre>
      ___     
     /\  \    
    /::\  \   
   /:/\:\  \  
  /::\~\:\__\ 
 /:/\:\ \:|__|
 \:\~\:\/:/  /
  \:\ \::/  / 
   \:\/:/  /  
    \::/__/   
     ~~       
</pre>
<pre>
      ___     
     /\  \    
    /::\  \   
   /:/\:\  \  
  /:/  \:\  \ 
 /:/__/ \:\__\
 \:\  \ /:/  /
  \:\  /:/  / 
   \:\/:/  /  
    \::/  /   
     \/__/    
</pre>
<pre>
      ___     
     /\__\    
    /::|  |   
   /:|:|  |   
  /:/|:|  |__ 
 /:/ |:| /\__\
 \/__|:|/:/  /
     |:/:/  / 
     |::/  /  
     /:/  /   
     \/__/    
</pre>


</div>

<!-- Article content is always displayed in #chainlink-display -->
<div id="chainlink-display" template="article">{% for content in contents %}
	{% if content.tag == 'header2' %}
	<section class="chainlink">
		<div id="{{ content.url }}" class="chainlink-wrapper">
			<h2>
	    <span class="chainlink-inner-text">{{ content.title }}</span>
			    <a class="inline-url header-url" href="chainlink{{ content.url }}.html">>>>{{ content.url|slice:"0:9" }}</a>
	</h2>
		</div>
	{% elif content.tag == 'paragraph' %}
	<div id="{{ content.url }}-{{ content.order }}" class="content-wrapper">
		<p class="inner-content">{{ content.content }}</p>	
		
	</div>
	{% elif content.tag == 'code' %}
	<div id="{{ content.url }}-{{ content.order }}" class="content-wrapper">
		<code class="inner-content">{{ content.content }}</code>
		
	</div>
	{% elif content.tag == 'header3' %}
	<div id="{{ content.url }}-{{ content.order }}" class="content-wrapper">
		<h3 class="inner-content">{{ content.content }}</h3>
	</div>
	{% elif content.tag == 'linebreak' %}
	<div id="{{ content.url }}-{{ content.order }}" class="content-wrapper">
		<span class="inner-content br"><i>&#60;!-- linebreak insert --&#62;</i></span>
	</div>
{% elif content.tag == 'delimiter' %}
	</section>
	{% endif %}
{% endfor %}</div>

<!-- Elements under the add-buttons element are buttons used to create content on the page -->
<div id="add-buttons">
	<!-- The chainlink add button is placed under this div -->
	<div id="chainlink-placeholder"></div>
	<!-- All buttons used to create content is stored under this parent div -->
	<div id="content-placeholder"></div>
</div>
{% endblock %}
