{% extends 'Patchwork/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/generic.css' %}">
<script type="module" src="{% static 'scripts/chainlink-utilities.js' %}"></script>
<script type="module">

	import { addElement, makeForm, parseKeyUp, parseKeyDown, escape } from "{% static 'scripts/chainlink-utilities.js' %}";

	// await full DOM load before adding DB items
	document.addEventListener("DOMContentLoaded", function() {
		
		var chainlinkDisplay = document.getElementById("chainlink-display");
		var mainElement = document.querySelector("main");
		var div = document.createElement("div");
		var button1 = document.createElement("button");
		var button2 = document.createElement("button");
		var button3 = document.createElement("button");
		var button4 = document.createElement("button");
		var button5 = document.createElement("button");

		if (chainlinkDisplay.querySelector(":scope > section") == null) {
			window.in = "doc-empty";	// signal to key parser to disable all hotkeys except "c"
			div.id = "add-buttons";
			button3.id = "add-cl-btn";
			button3.className = "add-buttons";
			button3.innerHTML = "&#60;n&#62 New Chainlink";
			div.appendChild(button3);
			button3.addEventListener("click", function() { makeForm('header2'); });
		}

		else {
			window.in = "doc";

			div.id = "add-buttons";
			button1.id = "add-p-btn";
			button2.id = "add-h3-btn";
			button3.id = "add-cl-btn";
			button4.id = "add-code-btn";
			button5.id = "add-br-btn";
			
			button1.className = "add-buttons";
			button2.className = "add-buttons";
			button3.className = "add-buttons";
			button4.className = "add-buttons";
			button5.className = "add-buttons";

			button1.innerHTML = "&#60;p&#62; paragraph";
			button2.innerHTML = "&#60;h&#62; header";
			button3.innerHTML = "&#60;n&#62 New Chainlink";
			button4.innerHTML = "&#60;c&#62 code"
			button5.innerHTML = "&#60;b&#62; linebreak";

			div.appendChild(button1);
			div.appendChild(button2);
			div.appendChild(button3);
			div.appendChild(button4);
			div.appendChild(button5);
	
			// Register event listeners for content creation elements
			button1.addEventListener("click", function() { makeForm('paragraph'); });
			button2.addEventListener("click", function() { makeForm('header3'); });
			button3.addEventListener("click", function() { makeForm('header2'); });
			button4.addEventListener("click", function() { makeForm('code'); });
			button5.addEventListener("click", function() { makeForm('linebreak'); });
		}

		// Globals
		window.target = window.location.href;

		// Add the event listeners above for keystrokes
		window.addEventListener("keyup", parseKeyUp);
		window.addEventListener("keydown", parseKeyDown);

		mainElement.appendChild(div);
	});
</script>
<nav id="tabbed-buttons">
{% for doc in docs %}
	<button type="button" class="tabbed-buttons" onclick="window.location.href ='doc{{ doc.url }}.html'">{{ doc.title }}</button>
{% endfor %}
	<button type="button" id="add-page-btn" class="tabbed-buttons" onclick="window.location.href ='generate.html'">+</button>
</nav>
<h1>{{ document.title|linebreaksbr }}</h1>
<div id="chainlink-display">
<ul id="chainlink-manifest">
	<h2>Chainlink Manifest</h2>
	{% if chainlinks %}
	{% for chainlink in chainlinks %}
	<li><a class="inline-url" href="#{{ chainlink.url }}">>>>{{ chainlink.title }}</a></li>
	{% endfor %}
	{% else %}
	<li><i>&#60;list empty&#62;</i></li>
	{% endif %}
</ul>
<ul id="keybindings-legend">
	<h2>Keybindings Legend</h2>
	<li>j - scroll down</li>
	<li>k - scroll up</li>
	<li>n - create chainlink</li>
	<li>p - create text element</li>
	<li>h - create header element</li>
	<li>c - create code block</li>
	<li>b - insert linebreak</li>
</ul>
{% for content in contents %}
		{% if content.tag == 'header2' %}
		<section><h2 id="{{ content.url }}">{{ content.title }}<a class="inline-url header-url" href="chainlink{{ content.url }}.html">>>>{{ content.url|slice:"0:9" }}</a></h2>
		{% elif content.tag == 'paragraph' %}
		<p>{{ content.content }}</p>
		{% elif content.tag == 'code' %}
		<code>{{ content.content }}</code>
		{% elif content.tag == 'header3' %}
		<h3><div class="h3">{{ content.content }}</div></h3>
		{% elif content.tag == 'linebreak' %}
		<span class="br"></span>
		{% elif content.tag == 'delimiter' %}
		</section>
		{% endif %}
{% endfor %}
<!--</div>
<div id="add-buttons">
	<button type="button" id="add-p-btn" class="add-buttons">&#60;p&#62; paragraph</button>
	<button type="button" id="add-h3-btn" class="add-buttons">&#60;h&#62; header</button>
	<button type="button" id="add-cl-btn" class="add-buttons">&#60;n&#62 New Chainlink</button>
	<button type="button" id="add-code-btn" class="add-buttons">&#60;c&#62 code</button>
	<button type="button" id="add-br-btn" class="add-buttons">&#60;b&#62; linebreak</button>
</div>-->
{% endblock %}
