{% extends 'Patchwork/base.html' %}
{% load static %}
{% block content %}
<input type="hidden" id="collection-url" value="{{ collection.url }}">
<link rel="stylesheet" type="text/css" href="{% static 'css/generic.css' %}">
{% if edit == "true" %}
    <link rel="stylesheet" href="{% static 'css/edit-mode.css' %}">
    <script src="{{ REACT_STATIC_ROOT }}/generic.js"></script>
{% endif %}
{% if collection.theme == "patchwork" %}
    <link rel="stylesheet" href="{% static 'css/patchwork.css' %}">
{% elif collection.theme == "peshay" %}
    <link rel="stylesheet" href="{% static 'css/peshay.css' %}">
{% elif collection.theme == "washington" %}
    <link rel="stylesheet" href="{% static 'css/washington.css' %}">
{% elif collection.theme == "bluesky" %}
    <link rel="stylesheet" href="{% static 'css/bluesky.css' %}">
{% endif %}
<div id="config-display" class="section is-medium">
    <div id="chainlink-manifest" class="menu">
        <h2 class="menu-label">Chainlink Manifest</h2>
        <ul id="element-manifest-entries" class="menu-list">
            {% if elements %}
                {% for element in elements %}
                    {% if element.content.tag == "HEADER1" %}
                        <li><a class="inline-url" href="#{{ element.url }}">{{ element.content.text }}</a></li>
                    {% elif element.content.tag == "HEADER2" %}
                        <li><a class="inline-url" href="#{{ element.url }}">>>{{ element.content.text }}</a></li>
                    {% elif element.content.tag == "HEADER3" %}
                        <li><a class="inline-url" href="#{{ element.url }}">>>>>{{ element.content.text }}</a></li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li><i>&#60;list empty&#62;</i></li>
            {% endif %}
        </ul>
    </div>
</div>

<!-- Article content is always displayed in #element-display -->
<div id="element-display" template="collection" class="">
    {% for element in elements %}
        {% if element.content.tag == "PARAGRAPH" %}
            <div id="{{ element.url }}" order={{element.order}} class="element-wrapper section is-medium" tag="PARAGRAPH" date={{element.date.isoformat}}>
                <p class="test" style="{{ element.css }}">{{ element.content.text }}</p>
            </div>

        {% elif element.content.tag == "HEADER1" %}
            <div id="{{ element.url }}" order={{element.order}} class="element-wrapper section is-medium" tag="HEADER1" date={{element.date.isoformat}}>
                <h1 class="header1-element title is-1" style="{{ element.css }}">{{ element.content.text }}</h1>
            </div>

        {% elif element.content.tag == "HEADER2" %}
            <div id="{{ element.url }}" order={{element.order}} class="element-wrapper section is-medium" tag="HEADER2" date={{element.date.isoformat}}>
                <h2>
                    <span class="element-order">#{{element.order}}</span>
                    <span class="title is-2" style="{{ element.css }}">{{ element.content.text }}</span>
                    <span class="element-date">{{element.date}}</span>
                </h2>
            </div>

        {% elif element.content.tag == "HEADER3" %}
            <div id="{{ element.url }}" order={{element.order}} class="element-wrapper section is-medium" tag="HEADER3" date={{element.date.isoformat}}>
                <h3 class="title is-3" style="{{ element.css }}">{{ element.content.text }}</h3>
            </div>

        {% elif element.content.tag == 'CODE' %}
            <div id="{{ element.url }}" order={{element.order}} class="element-wrapper section is-medium" tag="CODE" date={{element.date.isoformat}}>
                <code class="code" style="{{ element.css }}">{{ element.content.text }}</code>
            </div>

        {% elif element.content.tag == 'LINEBREAK' %}
        <div id="{{ element.url }}" order={{element.order}} class="element-wrapper section is-medium" tag="LINEBREAK" date={{element.date.isoformat}}>
            <span class="pb-5 pt-5 br" style="display: block; {{ element.css }}"><figure class="image is-16x16" style="float: right;"><img src="{% static 'images/enter.png' %}" alt="Description of image"></figure></span>
        </div>
        {% endif %}
        {% if forloop.last %}
            <!-- Elements under the add-buttons element are buttons used to create content on the page -->
            <!-- Element creation forms will be created under this div. -->
            <div id="form-anchor"></div>
            <div class="element-creation-buttons" {% if not user.is_authenticated %}style="display: none"{% endif %}>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
