{% extends 'Patchwork/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div id="agenda-main">
    <section>
        <h2>Industrial Precision Refined Artistry</h2>
        <p class="recantation">"Global capitalism is nearly there. At the end of the world there will only be liquid advertisement and gaseous desire. Sublimated from our bodies, our untethered senses will endlessly ride escalators through pristine artificial environments, more and less than human, drugged-up and drugged down, catalyzed, consuming and consumed by a relentlessly rich economy of sensory information, valued by the pixel. The Virtual Plaza welcomes you, and you will welcome it too."<span class="authored-by"> ~~ r/Vaporwave</span></p>
    </section>
    <section>
        <h2>Vapor Gallery</h2>
        <p class="information">The Chainlink project is a loveletter to abandoned industrial settings and the art that depicts it. With modern artistic movements like Vaporwave and Nostalgiacore drawing upon artistic sensibilities of 80s and 90s futurism, there is a growing body of artistic work depicting these themes and I've sought ouIndustrial Precision Refined Artistrylight a small few notable examples below.</p>
        <div class="media-section">
            <div id="col1" class="media-cols">
                <img src="{% static 'images/fc-kahuna.jpg' %}" alt="FC Kahuna - Machine Says Yes">
                <img src="{% static 'images/vapor-city-archives.jpg' %}"  alt="Vapor City Archives by Machinedrum">
                <img src="{% static 'images/deus-ex-goty.jpg' %}" alt="Deus Ex: Game of the Year Edition">
            </div>
            <div id="col2" class="media-cols">
                <img src="{% static 'images/desert-sand-feels-warm.jpg' %}" alt="GEO - C05; desert sand feels warm at nighn">
                <img src="{% static 'images/black-celebration.jpg' %}" alt="Depeche Mode - Black Celebration">
                <img src="{% static 'images/fsol-environments-4.jpg' %}" alt="Environments 4 by The Future Sound Of London">
            </div>
            <div id="col3" class="media-cols">
                <img src="{% static 'images/some-great-reward.jpg' %}" alt="Depeche Mode - Some Great Reward">
                <img src="{% static 'images/vapor-city.jpg' %}" alt="Vapor City by Machinedrum">
                <img src="{% static 'images/tyrell-corp.jpg' %}" alt="Tyrell Corporation Blade Runner 1982">
            </div>
        </div>
    </section>
</div>
<hr>
<div id="agenda-addendum">
    <section>
        <h2>Associated Works</h2>
        <ul>
            <li><i><span class="redacted">&lt;REDACTED&gt;</span></i>
            <li><i><span class="redacted">&lt;REDACTED&gt;</span></i>
            <li><i><span class="redacted">&lt;REDACTED&gt;</span></i>
            <li><i><span class="redacted">&lt;REDACTED&gt;</span></i></li>
        </ul>
    </section>
</div>
{% endblock %}