{% extends 'Patchwork/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/generic.css' %}">
<link rel="stylesheet" href="{% static 'css/patchwork.css' %}">
<div id="doc-title-wrapper" class="article-wrapper">
	<h1 id="doc-title">Landing Page Generated</h1>
</div>
<div id="chainlink-display">
    <p>You either just installed this application or deleted your landing page. Regardless, a new page has been generated and will be set as the new landing page for the portal</p>
    <p>To access the landing page reload this page</p>
</div>
{% endblock %}
