{% extends 'Patchwork/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<section>
    <h2>Parent Cases Knowledge Base</h2>
    <p>The out of the box (OOB) functionality for parent cases is for defining a parent-to-child relationship for tasks. For example, if a user made multiple contacts for a particular
        issue then that issue could be made a parent case where each contact (email, chatbox, etc) could be defined as child cases each inheriting from the parent case. One useful consequence
        of this might be that a business rule could synchronize these tasks so that if a parent task closed then so would the child cases. for <code>Incident</code> this is out of the box
        behavior.
    </p>
</section>
    
{% endblock %}